<% render 'navigation'%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Topicname:</strong>
  <%= @topic.topicName %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', root_path %>
<% render 'footer'%>