<% render 'navigation'%>

<div>
    <div class="boxRegister">
        <h1>New User</h1>

        <%= render 'form', user: @user %>

        <%= link_to 'Already A User?', login_path %>
    </div>
</div>
<% render 'footer'%>