/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#postsDiv{
   display: inline-block;
   background-color: darkcyan;
   width:60%;
   padding: 1em;
   border-radius: 1em;
}
#wrapper{
   background-color: rgb(79, 210, 243);
   padding: 1em;
   border-radius: 1em; 
}
#sideBar{
   position: absolute;
   right: 0;
   display: inline-block;
   background-color: darkcyan;
   width:30%;
   padding: 1em;
   border-radius: 1em;
   margin-right: 1em;
}
.sideItem{
   margin: 1em;
   background-color: red;
   padding: 1em;
   border-radius: 1em;
}
#footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: grey;
   color: black;
   text-align: center;
}