// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    text-align: left;
}
.post-backdrop{
    text-align: left;
    background-color: salmon;
    padding: 2em;
    border-radius: 1em;
    display: inline-block;
    width: 100%;
    margin: 3em;

}