// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
   text-align: center;
   
}
.post-backdrop{
    // text-align: center;
    background-color: #333;
    padding: 2em;
    // border-radius: 1em;
    display: inline-block;
    width: 100%;
    margin: 130%;
    margin-left: 340%;
    
}
// .center-wrapper{
//     text-align: center;
// }
.field{
    // width: 40%;
}