
<div class="comment-card">
    <strong><%= comment.name %>:</strong>
    <%= comment.body %>

    <h5> <%= time_ago_in_words(comment.created_at) %> ago<h5>
    <% if current_user %>

        <% if comment.name == current_user.username %>
        <%= link_to  "Delete",[comment.post,comment], method: :delete, data: { confirm: 'Are you sure?'} %>
        <% end %>
    <% end %>
</div>